body, html {
  height: 100%;
  margin: 0;
}




p {
	font-size: 60px;
	text-align: center;
	margin-top: 70px;
}

.bg-img {
	height: 100vh;
  	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	 background-image: 
	    /* top, transparent red */
	    linear-gradient(
	      rgba(94, 94, 94, 0.7), 
	      rgba(94, 94, 94, 0.7)
	    ),
	    /* your image */
	    url(https://images.unsplash.com/photo-1467810563316-b5476525c0f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1349&q=80);
}


.container {
	color: #fff;
	font-family: 'Lato', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.countdown {
	display: flex;
 	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 15px;
	font-size: 70px;
	border: 1px solid grey ;
	padding: 15px;

}

.time {
	 margin: 0 15px;

}

.textime {
	font-size: 20px;

}